.button {
	border: 1px solid $secondaryColor;
	width: 190px;
	text-align: center;
	padding: 10px 0;
	border-radius: 5px;
	text-transform: uppercase;

	&__text {
		padding: 10px 60px;
	}

	&:hover {
		background-color: $secondaryColor;
		color: $primaryColor;
		cursor: pointer;
	}

	&__social {
		margin: 20px auto;
	}

	&__subscribe {
		margin:  5px auto;
	}
}