.cta {

	width: 100%;

	&__wrappers {

		position: relative;
		z-index: 1;
		float: left;
		width: 25%;
		height: 25%;
		font-size: 0;

		@include mq($max,$tablet) {
			width: 50%;
		}

		@include mq($max,$mobile) {
			width: 100%;
		}
	}

	&__overlay {
		top: 0;
		left: 0;
		z-index: 100;
		float: left;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.7);
		color: $secondaryColor;
		opacity: 0;
		transition: all ease-in-out 0.25s;

		&:hover {
			opacity: 1;
			transition: all ease-in-out 0.25s;
		}
	}

	&__overlayText {
		text-align: center;
		@include center;
		font-size: 20px;

		@include mq($max,$mobile) {
			font-size: 20px;
		}
	}

	&__images {
		width: 100%;
		padding: 0;
		margin: 0;
	}

	&__link {
		text-transform: lowercase;
		font-style: italic;
		font-size: $fontSizeMedium;

		&:hover {
			text-decoration: underline;
		}
	}
}