$primaryColor: black;
$secondaryColor: white;
$highlightColor: rgb(0, 131, 255);
$fontSizeMedium: 18.3px;
$fontSizeTitle: 20px;
$fontSizeLarge: 40px;
$desktop: 1240px;
$tablet: 1025px;
$mobile: 550px;
$border: 2px solid $secondaryColor;